<h1>チェック結果一覧</h1>
<ul>
    <% @checks.each do |check|%>
    
    
                
    <li><%=link_to check.id, check%>:<%=check.syu%>/<%=check.cari%>/<%=check.des%>/<%=check.no%>/<%=check.geta%>/<%=check.pare%>/<%=check.tno%>/<%=check.bikou%>/<%=check.created_at%></li>
    
    <%end%>
    <%= link_to '新規登録', new_check_path %>
</ul>