<h1>チェック詳細</h1>

<p><%=@check.syu%></p>
<p><%=@check.cari%></p>
<p><%=@check.des%></p>
<p><%=@check.no%></p>
<p><%=@check.geta%></p>
<p><%=@check.pare%></p>
<p><%=@check.tno%></p>
<p><%=@check.bikou%></p>



<%= link_to '一覧に戻る', checks_path %>
<%= link_to '編集する', edit_check_path(@check) %>
<%= link_to '削除する', @check, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>